@page "/"

<PageTitle>RepairBase</PageTitle>

<h1>Repair Base</h1>

<pre>
         <a href="mbrepair">MbRepair</a>
   |  \\
   <a href="mb">Mb</a>  File2MbRepair
   /\
Mb2Parts
   \/
  <a href="parts">Parts</a>

</pre>
